/*css file for first head html*/


body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: normal;
	font-weight: normal;
	background-color: white;
	width: 980px;
	margin: auto;
	/*margin-top: 20px;*/
	line-height: 120%;
	color: #4F4F4F;
}

#sidebar {
	float: left;
	width: 200px;
	padding: 10px;
	padding-top: 25px;
	line-height: 200%;
	font-size: 90%;
}

#main {
	margin-left: 210px;
	padding: 10px;
	padding-top: 20px;
}

#palyground {
	margin-left: 210px;
	padding: 10px;
}



h1 {
	font-size: 140%;
	font-weight: bold;
	color: black;
	/*text-decoration-line: underline;*/
	/*font-style: italic;*/
}

#name {
	font-weight: bold;
	font-size: 180%;
	color: black;
}
#last_time{
	font-weight: normal;
	font-size: small;
}

ul {
	list-style-type: square;
	list-style-position: inside;
}
ul li {
	color: black;
}



